@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,800&display=swap");
@font-face {
	font-family: "Bebas Neue";
	src: url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* ________________Обнуление_________________ */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}
body {
	line-height: 1;
	font-family: "Open Sans";
}
/* ___________блок header___________________________ */
.wraper {
	padding-top: 100px;
}
.container {
	width: 1180px;
	margin: 0px auto;
	border: 1px solid red;
	background-color: grey;
	padding: 20px;
}
.car__top {
	margin: 0px auto;
	width: 450px;
	height: 120px;
	background-color: rgb(61, 156, 214);
	border-top-left-radius: 500px;
	border-bottom-left-radius: 0%;
	border-top-right-radius: 500px;
	position: relative;
	overflow: hidden;
}
.treygolnik-pravka {
	position: absolute;
	top: -120px;
	left: 153px;
	border-left: 0px solid transparent;
	border-right: 60px solid transparent;
	border-top: 120px solid grey;
	z-index: 2;
}
.car__window {
	width: 80px;
	height: 113px;
	border-top-left-radius: 100%;
	border-top-right-radius: 0%;
	background: radial-gradient(
		ellipse at center,
		#e1ffff 0%,
		#e1ffff 7%,
		#e1ffff 12%,
		#fdffff 16%,
		#e6f8fd 30%,
		#c8eefb 54%,
		#bee4f8 75%,
		#b1d8f5 100%
	);
	position: absolute;
	z-index: 1;
	top: 7px;
	left: 0px;
	border-bottom: 1px sloid black;
}
.window-treygolnik {
	border-left: 60px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 300px solid rgb(61, 156, 214);

	position: absolute;
	top: 0px;
	left: 20px;
	z-index: 1;
}
.car__window-left {
	width: 150px;
	height: 105px;
	background: rgb(7, 129, 178);
	border-top: 10px solid rgb(44, 41, 132);
	border-left: 10px solid rgb(44, 41, 132);
	border-bottom: 2px solid rgb(44, 41, 132);
	border-right: 2px solid rgb(44, 41, 132);
	border-top-left-radius: 80%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
	top: 12px;
	left: 90px;
}
.window__bg {
	width: 120px;
	height: 80px;
	background-color: rgb(5, 82, 102);
	border-top-left-radius: 100%;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.car__window-right {
	width: 100px;
	height: 105px;
	background: rgb(7, 129, 178);
	border-top: 10px solid rgb(44, 41, 132);
	border-right: 10px solid rgb(44, 41, 132);
	border-left: 2px solid rgb(44, 41, 132);
	border-right: 2px solid rgb(44, 41, 132);
	border-top-left-radius: 10px;
	border-top-right-radius: 100%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
	top: 12px;
	left: 310px;
}
.window__bg2 {
	width: 93px;
	height: 85px;
	background-color: rgb(5, 82, 102);
	border-top-left-radius: 0px;
	border-top-right-radius: 100%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
	top: 21px;
	left: 312px;
}
.car__bottom {
	padding-bottom: 10px;
	margin: 0px 0px 0px 190px;
	width: 700px;
	height: 150px;
	background-color: rgb(61, 156, 214);
	border-top-left-radius: 500px;
	border-top-right-radius: 425px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50px;
	position: relative;
}
.car__hend-left {
	width: 40px;
	height: 20px;
	background-color: rgb(27, 22, 16);
	border-radius: 5px;
	position: absolute;
	top: 13px;
	left: 350px;
}
.car__hend-left-bg {
	width: 30px;
	height: 10px;
	background-color: rgb(28, 30, 87);
	border-radius: 0px 3px;
	position: absolute;
	top: 10px;
	left: 0px;
}
.car__hend-right {
	width: 40px;
	height: 20px;
	background-color: rgb(27, 22, 16);
	border-radius: 5px;
	position: absolute;
	top: 13px;
	left: 470px;
}
.car__hend-right-bg {
	width: 30px;
	height: 10px;
	background-color: rgb(28, 30, 87);
	border-radius: 0px 3px;
	position: absolute;
	top: 10px;
	left: 0px;
}
.car__bottom-triygolnik {
	display: inline-block;
	border-left: 0px solid transparent;
	border-right: 90px solid transparent;
	border-bottom: 115px solid rgb(61, 156, 214);
	position: absolute;
	top: -89px;
	right: 44px;
}
.car__arki {
	width: 170px;
	height: 300px;
	background: linear-gradient(to bottom, rgb(57, 98, 164) 1%, rgb(47, 88, 167) 100%);
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	position: absolute;
	top: 50px;
	left: 100px;
	border: 15px solid #2f2cf7;
}
.car__coleso-left {
	width: 110px;
	height: 110px;
	background-color: blueviolet;
	border-radius: 50%;
	border: 20px solid black;
	position: absolute;
	top: 30px;
	left: 15px;
	z-index: 5;
}
.car__arki-right {
	width: 170px;
	height: 300px;
	background: linear-gradient(to bottom, rgb(57, 98, 164) 1%, rgb(47, 88, 167) 100%);
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	position: absolute;
	top: 50px;
	left: 500px;
	border: 15px solid #2f2cf7;
}

.car__coleso-right {
	width: 110px;
	height: 110px;
	background-color: blueviolet;
	border-radius: 50%;
	border: 20px solid black;
	position: absolute;
	top: 30px;
	left: 15px;
	z-index: 5;
}
.coleso__dotted {
	width: 105%;
	height: 105%;
background-color: black;
	border-radius: 50%;
	border: 4px solid rgb(140, 181, 209);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -35px;
	margin-top: -35px;
}

.diski1 {
	height: 10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 35px solid rgb(140, 181, 209);
	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -10px;
}

.diski2 {
	height: 10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 35px solid rgb(140, 181, 209);
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -10px;
}
.diski3 {
	height: 10px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 35px solid rgb(140, 181, 209);
	position: absolute;
left: 3px;
	top: 50%;
	margin-top: -10px;
}
.diski4 {
	height: 10px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 35px solid rgb(140, 181, 209);
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -10px;
}
.car__bottom-podkladka {
	width: 100%;
	height: 300px;
	background-color: grey;
	margin-top: 10px;
	position: relative;
	z-index: 3;
}
.car__bamper-left {
	width: 150px;
	height: 30px;
	background-color: rgb(140, 181, 209);
	border-radius: 30px;
	position: absolute;
	bottom: 0;
	left: -5px;
}
.protivotyman {
	width: 20px;
	height: 35px;
	background: radial-gradient(
		ellipse at center,
		#e1ffff 0%,
		#e1ffff 7%,
		#e1ffff 12%,
		#fdffff 16%,
		#e6f8fd 30%,
		#c8eefb 54%,
		#bee4f8 75%,
		#b1d8f5 100%
	);
	border-radius: 50%;
	position: absolute;
	top: 0px;
	left: 70px;
	z-index: 1;
}
.protivotyman__bg {
	width: 20px;
	height: 35px;
	background: rgb(32, 38, 112);
	border-radius: 50%;
	position: absolute;
	top: 0px;
	left: 75px;
}
.protivotyman__bg-nogka {
	width: 8px;
	height: 25px;
	background: rgb(32, 38, 112);
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: 15px;
}
.car__fara {
	width: 35px;
	height: 50px;
	background: radial-gradient(
		ellipse at center,
		#e1ffff 0%,
		#e1ffff 7%,
		#e1ffff 12%,
		#fdffff 16%,
		#e6f8fd 30%,
		#c8eefb 54%,
		#bee4f8 75%,
		#b1d8f5 100%
	);
	border-radius: 50%;
	position: absolute;
	top: 68px;
	left: 20px;
	z-index: 1;
}
.car__fara-bg {
	width: 40px;
	height: 48px;
	background: rgb(32, 38, 112);
	border-top-right-radius: 40%;
	border-bottom-right-radius: 80%;
	position: absolute;
	top: 68px;
	left: 35px;
}
.fara__zad {
	width: 20px;
	height: 50px;
	background-color: rgb(174, 7, 50);
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	position: absolute;
	top: 105px;
	right: -15px;
}
.fara__zad-treygolnik {
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgb(174, 7, 50);
	position: absolute;
	top: -20px;
}
.bg-first {
	width: 255px;
	height: 13px;
	background: rgb(57, 100, 168);
	position: absolute;
	bottom: 0;
	left: 255px;
}
.bg-two {
	width: 260px;
	height: 15px;
	background: rgb(66, 106, 175);
	position: absolute;
	bottom: 13px;
	left: 255px;
}
.bg__vertical {
	width: 12px;
	height: 220px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	background: rgb(66, 106, 175);
	position: absolute;
	bottom: 13px;
	left: 423px;
}
.bg__kryg {
	width: 58px;
	height: 60px;
	border-top-left-radius: 100%;
	background: rgb(66, 106, 175);
	position: absolute;
	bottom: 28px;
	left: 492px;
}
/* .bg__kryg2{
	width: 40px;
	height: 60px;
	border-radius: 50%;
	background: rgb(36, 119, 187);
	position: absolute;
	bottom: 28px;
	left: 440px;
} */
